body{
    background-color: white;
    padding: 50px;
}
.header {
    padding: 10px;
    background: white;
  }
  
  .header h1 {
    font-size: 20px;
    display: inline-table;
  }
  .header h1 a {
    text-decoration: none;
    color: grey;
  }
  /* thanh menu */
  #menu ul {
    list-style-type: none;
    background-color: rgb(239, 234, 226);
    text-align: center;
  }
  #menu ul li {
      text-align: center;
      color: orange;
  }
  #menu ul li a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    border: solid 1px orange;
  }
  .mid {
    padding: 10px;
    background: white;
    color: black;
  }
  .mid ul{
    list-style-type: none;
    background-color: whitesmoke;
    padding: 10px;
    display: inline-table;
    width: 31%;
  }
  .mid ul li{
    text-align: center;
  }
  .mid ul li b {
    color: black;
    font-size: 40px;
    width: 200px;
  }
  .mid ul li h1{
    color: orange;
  }
  .mid ul li p {
    color: black;
}
.mid ul li a{
  color: orange;
}
.footer {
    padding: 10px;
    text-align: center;
    background: whitesmoke;
    margin-top: 10px;
  }