body{
    background-color: rgb(244, 232, 211);
    padding: 50px;
}
.header {
    padding: 10px;
    background: white;
    color: black;
  }
  
  .header h1 {
    font-size: 20px;
    display: inline-table;
  }
  .header h1 a {
    text-decoration: none;
    color: black;
  }
  /* thanh menu */
  #menu ul {
    list-style-type: none;
    background-color: black;
    text-align: center;
  }
  #menu ul li {
      color: white;
      display: inline-table;
      width: 250px;
      height: 50px;
      line-height: 50px;
  }
  #menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
  }
  /* Thay đổi màu liên kết khi di chuột qua */
  #menu ul li a:hover {
    background-color: #db7093;
    color: white;
  }
  .mid {
    padding: 10px;
    background: white;
    color: black;
    overflow: hidden;
  }
  .mid ul{
    list-style-type: none;
    background-color: white;
  }
  .mid ul li{
    color: white;
    float: left;
    width: 430px;
  }
  .mid ul li img{
      padding: 10px;
      border: solid 5px black;
      width: 300px;
      height: 300px;

  }
  .mid ul li h1 {
      color: black;
      font-size: 20px;
  }
  .mid ul li h1 p {
    color: red;
    font-size: 20px;
}
.slideshow-container {
  width: 1000px;
  height: 580px;
  position: relative;
  margin: 20px auto 20px auto;
}
.slideshow-container img{
  padding: 10px;
  border: solid 5px black;
  width: 100%;
  height: 500px;
}

/*  */

.mySlides {
  display: none;
}


/* Next & prev*/

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* next button"*/

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* */

.prev:hover,
.next:hover {
  background-color: rgba(125, 123, 123, 0.8);
}


/* Fading*/

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
      opacity: .1
  }
  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .9
  }
  to {
      opacity: 1
  }
}


/* */

@media only screen and (max-width: 300px) {
  .prev,
  .next {
      font-size: 11px
  }
}
.footer {
    padding: 10px;
    text-align: center;
    background: white;
    margin-top: 10px;
  }